.main_page{
    display:flex;
    flex-direction: column;
    background-color: #000;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 100%;
}

.header{
    margin-top: 45px;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    width: 100%;
}

.header__logo{
    width:173px;
    height: 33px;
    margin-bottom: 41px;
}

.profile{
    margin: 40px auto 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 880px;
    width: 100%;
}

.profile__avatar{
    max-width: 120px;
    border-radius: 50%;
    margin-right: 5%;
}

.profile__info{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.profile__top-content {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.profile__name{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    color: #FFFFFF;
    margin: 0;
    max-width: 373px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__edit-button{
    max-width: 24px;
    margin-left: 18px;
}

.profile__edit-button:hover{
    opacity: 0.6;
}

.profile__job {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFF;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__add-button{
    width: 150px;
    height: 50px;
    background-color: #000;
    color: white;
    border: solid #FFFFFF;
    font-size: 35px;
}

.profile__add-button:hover{
    opacity: 0.6;
}

.elements{
    max-width: 880px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 17px;
    justify-content: center;
    margin-bottom: 67px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 282px;
}

.card__image{
    border-radius: 10px 10px 0 0;
}

.card__bottom{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 15px 0 21px;
    border-radius: 0 0 10px 10px;
}

.card__text-title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like-button:hover{
    opacity: 0.5;
}

.footer{
    max-width: 880px;
    align-items: start;
    width: 100%;
    margin-bottom: 60px;
}

.footer__text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    align-self: start;
}

.popup{
    display: flex;
    justify-content: center;
    align-content: center;
}

.popup__background{
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
}

.popup__container{
    display: flex;
    flex-direction: column;
    position:fixed;
    bottom: 25vh;
    height: 330px;
    z-index: 2;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 0 36px;
    justify-content: center;
    align-content: center;
    margin:0;
}

.popup__close{
    position: absolute;
    z-index: 3;
    width: 35px;
    top: -40px;
    right: -40px;
}

.popup__close:hover{
    opacity: 0.6;
}

.popup__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 54px;
}

.popup__form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 48px;
}

.popup__form-input{
    all: unset;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 13.26px;
}

.popup__save-button{
    width: 358px;
    height: 50.15px;
    background: #000000;
    border-radius: 2px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    align-self: center;

    color: #FFFFFF;
}

.popup__save-button:hover{
    opacity: 0.8;
}

.popup__container_popup_opened{
    display: none;
}

@media screen and (min-width: 524px) and (max-width: 910px) {
    .header{
        margin-top: 28px;
        border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    }

    .header__logo{
        margin-left: 50px;
    }

    .profile{
        max-width: 90%;
    }

    .profile__name{
        font-size: 22px;
    }

    .footer__text{
        margin: 0 19px;
    }

}

@media screen and (max-width: 640px){
    .header{
        margin:0;
        border-bottom: 1px solid rgba(84, 84, 84, 0.7);
        max-width: 100%;
    }

    .header__logo{
        width:173px;
        height: 33px;
        margin: 28px;
    }

    .profile{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin: 40px 19px 50px;
        width: 100%;
    }

    .profile__avatar{
        margin:0;
    }

    .profile__info{
        align-items: center;
        margin:0;
    }

    .profile__name{
        font-size: 22px;
        max-width: 200px;
    }

    .profile__job{
        font-size: 14px;
    }

    .profile__add-button{
        width: 282px;
        height: 50px;
        margin: 0;
    }

    .footer__text{
        margin: 0 19px;
    }
}