.profile{
    margin: 40px auto 50px; /* Se possível verificar se necessita mudança neste parametro, está igual ao Figma para 1280px, só muda no 320px. */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 880px;
    width: 100%;
}

@media screen and (min-width: 640px) and (max-width: 910px) {

    .profile {
        max-width: 90%;
    }
}

@media screen and (max-width: 640px){

    .profile{
        display: flex;
        flex-direction: column;
        margin: 42px auto 36px;
        width: 100%;
    }
}