.header{
    margin-top: 45px;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    width: 100%;
}

@media screen and (min-width: 640px) and (max-width: 910px) {
    .header {
        margin-top: 28px;
        border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    }
}

@media screen and (max-width: 640px) {
    .header {
        margin: 0;
        border-bottom: 1px solid rgba(84, 84, 84, 0.7);
        max-width: 100%;
    }
}