.popup__close{
    position: absolute;
    z-index: 3;
    top: -40px;
    right: -40px;
}

.popup__close img{
    width: 35px;
}

.popup__close:hover{
    opacity: 0.6;
}


@media screen and (max-width: 640px){

    .popup__close{
        right: 0;
    }

    .popup__close img{
        width: 20px;
    }
}